<aside>
  <div class="row">
      <div class="col-md-12">
        <ul class="left-nav">
        {% for link in site.navigation %}
          {% capture pageurl %}{{link.url}}{{"index.html"}}{% endcapture %}
          {% if page.url == pageurl or (link.text == 'Blog' and page.id) %}
            <li class="left-nav-item left-nav-selected">{{link.text}}</li>
          {% else %}
            <li class="left-nav-item">
              <a href="{{link.url}}">{{link.text}}</a>
            </li>
          {% endif %}
        {% endfor %}
        </ul>
    </div>
  </div>
</aside>
